.head {
  margin-left: 30;
}

.app {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
}

.back_button:hover {
  color: goldenrod;
}

.back_button {
  left: 0;
  width: 80px;
  margin-bottom: 5px;
}

/* Styles for the disclaimer alert overlay */
.disclaimer-alert {
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for the disclaimer alert content */
.disclaimer-alert {
  margin: auto;
  max-width: 60vw;
  text-align: left;
}

/* Styles for the "Accept" button */
.disclaimer-alert button {
  margin: 0 0.5em;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: white;
  color: black;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.disclaimer-alert button:hover {
  background-color: blue;
  color: white;
}

.about-page{
  text-align: center;
  margin-top: 50px;
}








