.body {
    font-family: sans-serif;
}

.web-title{
    font-size: 1em;
    background-color:  white;
    position: fixed;
    margin-top: 0px;
    padding: 0px;
    height: 65px;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
}

.web-title img {
    padding: 10px;
    filter: invert(1);
    pointer-events: none; /*make svg unselectable*/
}

.menu-list{
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0.1em;
    margin: 0;
}

.menu-list li{
    display: flex;
    align-items: center;
}

.menu-list a {
    display: block;
    padding: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.menu-list li a:hover {
    color: blue;
}
 
.menu-item{
    margin-left: auto;
}


