.body {
    font-family: sans-serif;
}

.web-title{
    font-size: 18pt;
    background-color:  #080808;
    color: aliceblue;
    position: fixed;
    margin-top: 0px;
    padding: 10px;
    height: 30px;
    width: 100%;
}
