.body {
    font-family: sans-serif;
}

.web-title{
    font-size: 18pt;
    background-color:  #080808;
    color: aliceblue;
    position: fixed;
    margin-top: 0px;
    padding: 0px;
    height: 65px;
    width: 100%;
    display: flex;
}

.web-title img {
    padding: 10px;
}

.menu-list{
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li{
    display: flex;
    align-items: center;
}

.menu-list a {
    display: block;
    padding: 5px;
    color: aliceblue;
    text-decoration: none;
}

.menu-list li:hover {
    background: #aaa;
}
 
.menu-item{
    margin-left: auto;
}


