.tagsList li { /* The tags*/
    display: inline-block;
    margin: 0.1em;
    padding: 0.2em;
    background: white;
    color: #444;
    border-radius: 0.2em;
    border: 1px solid black;
}

.tagsList li:hover {
    border: 1px solid blue;
    cursor: pointer;
    color: blue;
}

.tagsList li:active {
    border: 1px solid blue;
    cursor: pointer;
    background-color: blue;
    color: whitesmoke;
}

li.tile{
    list-style: none; 
    background: #ffffff;
    border-bottom: 1px black solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: 1fr; */
}


div.urlstub {
    display: inline-block;
    padding: 0;
    margin: 0;
}

div.urlstub h3{
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: serif;
    font-weight: 500;
}

div.urlstub p{
    margin: 0;
}

li.tile ul{
    margin: 0.2em 0;
    display: inline-block;
}