body {
    font-family: sans-serif;
}

.webframe{
    position: fixed;
    margin-top: 65px;
    margin-bottom: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.webframe button {
    width: 12vw;
    height: 77%;
    font-size: 0.85em;
    margin: .5em;
    border-radius: 4px;
}

.webframe button:hover {
    background-color: goldenrod;
    text-shadow: 2px;
}

.info-bar {
    display: flex;
    position: relative;
    margin-top: .5em;
    height: 2.5em;
    align-items: center;
}

.info-bar a {
    text-decoration: none;
    color: black;
    display: block;
}

iframe {
    /*width: 100%;*/
    width: 86vh;
    height: 65vh;
    border: 1px solid #ccc;
    margin: 10vh auto;
    border-radius: 5px;
}

.dropdown-select{
    display: flex;
    margin: .5em;
}

.dropdown-menu {
    padding: 5px;
    font-size: 0.95em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}






