body {
    font-family: sans-serif;
}

.webframe{
    margin-top: 65px;
    margin-left: 10px;
    width: flex;
    height: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.webframe button {
    width: 100px;
    margin: 5px;
    border-radius: 4px;
}

.webframe button:hover {
    background-color: goldenrod;
    text-shadow: 2px;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: auto;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: goldenrod;
}

.info-bar {
    display: flex;
}

.dropdown-container {
    margin-left: 5px;
    flex: 1 1 auto;
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }

.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }